

.header-navigation {
  position: relative;
  height: 70px !important;
  pointer-events: none
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation {
      height: 60px
  }
}

.header-navigation__inner {
  position: fixed;
  top: 0;
  left: 0vw;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: left 350ms;
  will-change: left
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .body--menu-open .header-navigation__inner {
      left: 80vw
  }
}
*{
  font-family: 'Roboto', sans-serif;
}
.cta {
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 300;
}
.cta.cta--primary {
  height: 50px;
  font-size: 18px;
  line-height: 46px;
  background-color: rgb(226, 0, 116);
  color: rgb(255, 255, 255);
  margin: 5px 0px;
  padding: 0px 25px;
}

.header-navigation__skip {
  position: absolute;
  left: 0;
  top: -100px;
  padding: 0 20px;
  background: #fff;
  z-index: 1;
  pointer-events: all
}

.header-navigation__skip:active,
.header-navigation__skip:focus {
  top: 0
}

.header-navigation__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity 350ms;
  z-index: -2
}

.body--menu-open .header-navigation__overlay {
  opacity: .6;
  pointer-events: all
}

.header-navigation__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
  background: #000;
  transition: transform 200ms;
  pointer-events: all
}

.header-navigation--scrolled-down .header-navigation__bar {
  transform: translateY(-30px)
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation--scrolled-down .header-navigation__bar {
      transform: none
  }
}

.header-navigation__top-content {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 30px;
  margin: 0 auto;
  padding-top: 5px
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__top-content {
      display: none
  }
}

.header-navigation--scrolled-down .header-navigation__top-content {
  visibility: hidden;
  transition: visibility 200ms 0
}

.header-navigation__top-content .text--label {
  color: #fff
}

.header-navigation__top-content .text--label:nth-child(2) {
  margin-left: auto
}

.header-navigation__top-content .text--label:nth-child(2) a {
  margin-left: 20px
}

.header-navigation__top-content a {
  display: inline-flex;
  align-items: center
}

.header-navigation__top-content .icon {
  width: 18px;
  height: 18px;
  margin-right: 3px
}

.header-navigation__logo {
  display: flex;
  margin-right: 50px
}

@media(max-width:599px) {
  .header-navigation__logo {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 200ms, opacity 350ms
  }
}

@media(min-width:1024px) and (max-width:1199px) {
  .header-navigation__logo {
      margin-right: 25px
  }
}

@media(max-width:599px) {
  .header-navigation--search-open .header-navigation__logo {
      transform: translate(-150%, -50%);
      opacity: 0
  }
}

.header-navigation__logo img {
  display: block;
  width: 146px;
  height: 30px
}

.header-navigation__bottom-content {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 70px;
  margin: 0 auto;
  color: #fff
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__bottom-content {
      height: 60px
  }
}

.header-navigation__nav-buttons {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__nav-buttons {
      display: none
  }
}

.header-navigation__nav-buttons li {
  height: 100%
}

.header-navigation__nav-button {
  height: 100%;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  font-family: 'Roboto', sans-serif;
  color: #fff
}

.header-navigation__nav-button:hover,
.header-navigation__nav-button:focus,
.header-navigation__nav-button--selected {
  border-bottom-color: #e20074
}

.header-navigation__menu-toggle {
  display: none
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__menu-toggle {
      display: inline-flex
  }
}

.header-navigation--search-open .header-navigation__menu-toggle {
  display: none
}

.header-navigation__search-close {
  display: none
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation--search-open .header-navigation__search-close {
      display: inline-flex
  }
}

.header-navigation__tools {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto
}

.header-navigation__ctas {
  display: inline-flex;
  flex: 0 0 auto;
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__ctas {
      display: none
  }
}

.header-navigation__ctas .cta--primary {
  height: 40px;
  margin: 0 0 0 20px;
  padding: 0 20px
}

.header-navigation__search {
  position: relative;
  width: 100%;
  max-width: 250px;
  transition: background-color 350ms
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__search {
      max-width: none;
      width: auto
  }
}

.header-navigation--search-open .header-navigation__search {
  background: #6a6a6a;
  width: 100%
}

.header-navigation__search input {
  width: 100%;
  height: 40px;
  padding: 0 32px 0 10px;
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
 font-family: 'Roboto', sans-serif;
  visibility: hidden
}

.header-navigation__search input::-ms-clear {
  display: none
}

.header-navigation--search-open .header-navigation__search input {
  visibility: visible
}

.header-navigation__search-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10px;
  pointer-events: none;
  color: #9b9b9b;
  line-height: 40px;
  visibility: hidden
}

.header-navigation--search-open .header-navigation__search-placeholder {
  visibility: visible
}

.header-navigation__search-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 0;
  cursor: pointer
}

.header-navigation__divider {
  flex: none;
  width: 1px;
  height: 25px;
  margin: 0 15px 0 0;
  background: #3b3b3b
}

.header-navigation--search-open .header-navigation__divider {
  opacity: 0;
  transition: opacity 200ms
}

.header-navigation__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 100%;
  padding-top: 100px;
  transform: translateX(-100%);
  transition: transform 350ms, visibility 350ms 0;
  will-change: transform;
  background: #fff;
  overflow: hidden;
  z-index: -1;
  pointer-events: all;
  visibility: hidden;
  outline: 0
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__menu {
      width: 80vw;
      min-width: 0;
      padding-top: 0
  }
}

@media(min-width:1024px) and (max-width:1199px),
(min-width:1200px) {
  .header-navigation--scrolled-down .header-navigation__menu {
      padding-top: 70px
  }
}

.body--menu-open .header-navigation__menu {
  transition: transform 350ms, padding-top 200ms
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .body--menu-open .header-navigation__menu {
      visibility: visible
  }
}

@media(min-width:1024px) and (max-width:1199px),
(min-width:1200px) {
  .body--menu-open .header-navigation--submenu-open .header-navigation__menu {
      transform: none;
      visibility: visible
  }
}

.header-navigation__menu ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.header-navigation__menu .cta--primary {
  margin-top: 35px
}

@media(max-width:599px) {
  .header-navigation__menu .text--h1 {
      font-size: 24px;
      line-height: 28px
  }
}

.header-navigation__menu-close {
  position: absolute;
  top: 18px;
  right: 18px
}

.header-navigation__menu-inner {
  position: relative;
  height: 100%;
  left: 0vw;
  will-change: left
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__menu-inner {
      transition: left 350ms
  }
}

.header-navigation--submenu-open .header-navigation__menu-inner {
  left: -375px
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation--submenu-open .header-navigation__menu-inner {
      left: -80vw
  }
}

.header-navigation--submenu-open .header-navigation__main-menu {
  visibility: hidden;
  transition: visibility 350ms 0
}

.header-navigation__menu-scroll-container {
  flex: 1;
  height: 100%;
  padding: 35px 80px 35px 80px;
  overflow-y: auto
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__menu-scroll-container {
      padding: 35px 20px 35px 20px
  }
}

.header-navigation__menu-buttons li:last-child {
  border-bottom: 1px solid #ddd
}

.header-navigation__menu-button {
  margin: 0 0 18px 0;
  padding: 0
}

.header-navigation__menu-link-group+.header-navigation__menu-link-group {
  margin-top: 35px
}

.header-navigation__submenus {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  visibility: hidden;
  transition: visibility 350ms 0;
  outline: 0
}

.header-navigation--submenu-open .header-navigation__submenus {
  visibility: visible
}

.header-navigation__submenu {
  display: none;
  flex-direction: column;
  height: 100%
}

.header-navigation__submenu--visible {
  display: flex
}

.header-navigation__submenu-header {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ddd
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__submenu-header {
      display: flex
  }
}

.header-navigation__submenu-header .text--h1 {
  margin: 0
}

.header-navigation__submenu-back-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  color: #e20074
}

@supports(-webkit-overflow-scrolling:touch) {
  .header-navigation__menu-scroll-container {
      padding-bottom: 100px;
      -webkit-overflow-scrolling: touch
  }
}
.cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: background-color 200ms ease 0s;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  text-decoration: none;
}
a {
  color: rgb(255, 22, 142);
  font-size: 0.9rem;
  font-weight: 500;
}


input{
  width: 400px;
  display: block;
  padding: 10px;
font-size: 16px;
  border: 1px solid #868686;
  font-family: Tele-GroteskHal, sans-serif;
}
*{
  font-size: 16px;
  font-family: Tele-GroteskHal, sans-serif;
}
h4{
  font-size:24px;
  margin-bottom:20px;
}
.text-capitalize
{
  text-transform: capitalize;
}
button{
  background-color: #e20074;
  color: #fff;
  font-family: Tele-GroteskHal, sans-serif;

  padding: 10px 30px;
}
button:disabled{
  background-color: #ccc;
   color: #4c4c4c;
   font-family: Tele-GroteskHal, sans-serif;

}
.form-control-input{
  margin-bottom: 10px;
}
.form-control-input > div{
  font-size: 14px;
  color:#ff0000;

  font-family: Tele-GroteskHal, sans-serif;

}


.header-navigation {
  position: relative;
  height: 70px;
  pointer-events: none
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation {
      height: 60px
  }
}

.header-navigation__inner {
  position: fixed;
  top: 0;
  left: 0vw;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: left 350ms;
  will-change: left
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .body--menu-open .header-navigation__inner {
      left: 80vw
  }
}
*{
  font-family: 'Roboto', sans-serif;
}
.cta {
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 300;
}
.cta.cta--primary {
  height: 50px;
  font-size: 18px;
  line-height: 46px;
  background-color: rgb(226, 0, 116);
  color: rgb(255, 255, 255);
  margin: 5px 0px;
  padding: 0px 25px;
}

.header-navigation__skip {
  position: absolute;
  left: 0;
  top: -100px;
  padding: 0 20px;
  background: #fff;
  z-index: 1;
  pointer-events: all
}

.header-navigation__skip:active,
.header-navigation__skip:focus {
  top: 0
}

.header-navigation__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity 350ms;
  z-index: -2
}

.body--menu-open .header-navigation__overlay {
  opacity: .6;
  pointer-events: all
}

.header-navigation__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
  background: #000;
  transition: transform 200ms;
  pointer-events: all
}

.header-navigation--scrolled-down .header-navigation__bar {
  transform: translateY(-30px)
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation--scrolled-down .header-navigation__bar {
      transform: none
  }
}

.header-navigation__top-content {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 30px;
  margin: 0 auto;
  padding-top: 5px
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__top-content {
      display: none
  }
}

.header-navigation--scrolled-down .header-navigation__top-content {
  visibility: hidden;
  transition: visibility 200ms 0
}

.header-navigation__top-content .text--label {
  color: #fff
}

.header-navigation__top-content .text--label:nth-child(2) {
  margin-left: auto
}

.header-navigation__top-content .text--label:nth-child(2) a {
  margin-left: 20px
}

.header-navigation__top-content a {
  display: inline-flex;
  align-items: center
}

.header-navigation__top-content .icon {
  width: 18px;
  height: 18px;
  margin-right: 3px
}

.header-navigation__logo {
  display: flex;
  margin-right: 50px
}

@media(max-width:599px) {
  .header-navigation__logo {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 200ms, opacity 350ms
  }
}

@media(min-width:1024px) and (max-width:1199px) {
  .header-navigation__logo {
      margin-right: 25px
  }
}

@media(max-width:599px) {
  .header-navigation--search-open .header-navigation__logo {
      transform: translate(-150%, -50%);
      opacity: 0
  }
}

.header-navigation__logo img {
  display: block;
  width: 146px;
  height: 30px
}

.header-navigation__bottom-content {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 70px;
  margin: 0 auto;
  color: #fff
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__bottom-content {
      height: 60px
  }
}

.header-navigation__nav-buttons {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__nav-buttons {
      display: none
  }
}

.header-navigation__nav-buttons li {
  height: 100%
}

.header-navigation__nav-button {
  height: 100%;
  margin: 0 10px;
  border:0 ;
  font-family: 'Roboto', sans-serif;
  color: #fff
}

.header-navigation__nav-button:hover,
.header-navigation__nav-button:focus,
.header-navigation__nav-button--selected {
  border-bottom-color: #e20074
}

.header-navigation__menu-toggle {
  display: none
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__menu-toggle {
      display: inline-flex
  }
}

.header-navigation--search-open .header-navigation__menu-toggle {
  display: none
}

.header-navigation__search-close {
  display: none
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation--search-open .header-navigation__search-close {
      display: inline-flex
  }
}

.header-navigation__tools {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto
}

.header-navigation__ctas {
  display: inline-flex;
  flex: 0 0 auto;
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__ctas {
      display: none
  }
}

.header-navigation__ctas .cta--primary {
  height: 40px;
  margin: 0 0 0 20px;
  padding: 0 20px
}

.header-navigation__search {
  position: relative;
  width: 100%;
  max-width: 250px;
  transition: background-color 350ms
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__search {
      max-width: none;
      width: auto
  }
}

.header-navigation--search-open .header-navigation__search {
  background: #6a6a6a;
  width: 100%
}

.header-navigation__search input {
  width: 100%;
  height: 40px;
  padding: 0 32px 0 10px;
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
 font-family: 'Roboto', sans-serif;
  visibility: hidden
}

.header-navigation__search input::-ms-clear {
  display: none
}

.header-navigation--search-open .header-navigation__search input {
  visibility: visible
}

.header-navigation__search-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10px;
  pointer-events: none;
  color: #9b9b9b;
  line-height: 40px;
  visibility: hidden
}

.header-navigation--search-open .header-navigation__search-placeholder {
  visibility: visible
}

.header-navigation__search-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 0;
  cursor: pointer
}

.header-navigation__divider {
  flex: none;
  width: 1px;
  height: 25px;
  margin: 0 15px 0 0;
  background: #3b3b3b
}

.header-navigation--search-open .header-navigation__divider {
  opacity: 0;
  transition: opacity 200ms
}

.header-navigation__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 100%;
  padding-top: 100px;
  transform: translateX(-100%);
  transition: transform 350ms, visibility 350ms 0;
  will-change: transform;
  background: #fff;
  overflow: hidden;
  z-index: -1;
  pointer-events: all;
  visibility: hidden;
  outline: 0
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__menu {
      width: 80vw;
      min-width: 0;
      padding-top: 0
  }
}

@media(min-width:1024px) and (max-width:1199px),
(min-width:1200px) {
  .header-navigation--scrolled-down .header-navigation__menu {
      padding-top: 70px
  }
}

.body--menu-open .header-navigation__menu {
  transition: transform 350ms, padding-top 200ms
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .body--menu-open .header-navigation__menu {
      visibility: visible
  }
}

@media(min-width:1024px) and (max-width:1199px),
(min-width:1200px) {
  .body--menu-open .header-navigation--submenu-open .header-navigation__menu {
      transform: none;
      visibility: visible
  }
}

.header-navigation__menu ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.header-navigation__menu .cta--primary {
  margin-top: 35px
}

@media(max-width:599px) {
  .header-navigation__menu .text--h1 {
      font-size: 24px;
      line-height: 28px
  }
}

.header-navigation__menu-close {
  position: absolute;
  top: 18px;
  right: 18px
}

.header-navigation__menu-inner {
  position: relative;
  height: 100%;
  left: 0vw;
  will-change: left
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__menu-inner {
      transition: left 350ms
  }
}

.header-navigation--submenu-open .header-navigation__menu-inner {
  left: -375px
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation--submenu-open .header-navigation__menu-inner {
      left: -80vw
  }
}

.header-navigation--submenu-open .header-navigation__main-menu {
  visibility: hidden;
  transition: visibility 350ms 0
}

.header-navigation__menu-scroll-container {
  flex: 1;
  height: 100%;
  padding: 35px 80px 35px 80px;
  overflow-y: auto
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__menu-scroll-container {
      padding: 35px 20px 35px 20px
  }
}

.header-navigation__menu-buttons li:last-child {
  border-bottom: 1px solid #ddd
}

.header-navigation__menu-button {
  margin: 0 0 18px 0;
  padding: 0
}

.header-navigation__menu-link-group+.header-navigation__menu-link-group {
  margin-top: 35px
}

.header-navigation__submenus {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  visibility: hidden;
  transition: visibility 350ms 0;
  outline: 0
}

.header-navigation--submenu-open .header-navigation__submenus {
  visibility: visible
}

.header-navigation__submenu {
  display: none;
  flex-direction: column;
  height: 100%
}

.header-navigation__submenu--visible {
  display: flex
}

.header-navigation__submenu-header {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ddd
}

@media(max-width:599px),
(min-width:600px) and (max-width:1023px) {
  .header-navigation__submenu-header {
      display: flex
  }
}

.header-navigation__submenu-header .text--h1 {
  margin: 0
}

.header-navigation__submenu-back-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  color: #e20074
}

@supports(-webkit-overflow-scrolling:touch) {
  .header-navigation__menu-scroll-container {
      padding-bottom: 100px;
      -webkit-overflow-scrolling: touch
  }
}
.cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: background-color 200ms ease 0s;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  text-decoration: none;
}
a {
  color: rgb(255, 22, 142);
  font-size: 0.9rem;
  font-weight: 500;
}


input{
  width: 400px;
  display: block;
  padding: 10px;
font-size: 16px;
  border: 1px solid #868686;
  font-family: Tele-GroteskHal, sans-serif;
}
*{
  font-size: 16px;
  font-family: Tele-GroteskHal, sans-serif;
}
h4{
  font-size:24px;
  margin-bottom:20px;
}
.text-capitalize
{
  text-transform: capitalize;
}
button{
  background-color: #e20074;
  color: #fff;
  font-family: Tele-GroteskHal, sans-serif;

  padding: 10px 20px;
}
button:disabled{
  background-color: #ccc;
   color: #4c4c4c;
   font-family: Tele-GroteskHal, sans-serif;

}
.form-control-input{
  margin-bottom: 10px;
}
.form-control-input > div{
  font-size: 14px;
  color:#ff0000;

  font-family: Tele-GroteskHal, sans-serif;

}
