<script src="/payment/main.js"></script>

<div class="container">
    <div class="row">
        <div class="col-12" id="container">
            <app-payment></app-payment>
        </div>
    </div>
</div>